# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6ccca854b23313ee806546372d8bf72f76a2fe4f9458813cf87abcb5260f810b4c87375d87ba06e52db6d0b18191e94c71986bb547f967b8d311b9e264e386a7

test:
  secret_key_base: b5af5ab4053ced8408943f78eafa2050fdba29ee7fa5cf03eb157a49d4f0bb36429d067ba9b0c443cc2ff937b5250d54ca10ffb5898d918b540322d6619bf89e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
